.activities__box {
  margin: 1.5rem;
  padding: 1.5rem;
  border: 2px solid var(--color-dark-medium);
  border-radius: 5px;
}

.activities__boxHeader p {
  font-size: 1.4rem;
  line-height: 1.3;
}

.activities__boxHeader p span {
  color: var(--color-gray);
  font-size: 1.2rem;
  display: block;
}

.activities__boxContent {
  margin-left: 4.2rem;
}

.activities__boxContent {
  font-size: 1.4rem;
}

.activities__boxContent a:hover {
  text-decoration: underline;
}

.activities__boxRoomContent {
  background: var(--color-bg);
  padding: 1rem;
  border-radius: 5px;
  margin-top: 1rem;
  margin-left: -4.2rem;
}

.roomListRoom__actions svg {
  fill: var(--color-light-gray);
}