.activities {
  background: var(--color-dark);
  border-radius: 5px;
  overflow: hidden;
}

.activities__header h2 {
  background-color: var(--color-dark-light);
  text-transform: uppercase;
  font-weight: 500;
  padding: 1rem 1.5rem;
  color: var(--color-light);
  letter-spacing: 1px;
  font-size: 1.4rem;
}

.view-all {
  padding: 1.5rem;
  text-align: center;
}