.create-room.layout .layout__box {
  max-width: 68rem;
}

.layout__box {
  width: 90%;
  max-width: 70vw;
  max-height: calc(100vh - 14rem);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -44%);
  background-color: var(--color-dark);
  border-radius: 1rem;
  box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.1);
  overflow: auto;
}

.layout__boxHeader {
  display: flex;
  padding: 1.5rem;
  background-color: var(--color-dark-light);
}

.layout__boxTitle {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.layout__boxTitle h3 {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-light);
}

.layout__boxTitle svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: var(--color-main);
}

.topics-page.layout__body {
  padding: 1rem 1.5rem;
  padding-bottom: 0;
}

